.menu-shower {
  position: fixed;
  left: -9999px;
  top: 0;

  &:checked ~ .panel {
    transform: translateX(0);
  }

  &:checked + .button-circle .hamburger {
    width: 26px;
    height: 20px;
    position: relative;
    transition: 0.3s transform linear;
    background-color: transparent;
    z-index: 9999;
    cursor: pointer;
    transform: scale(0.66) translate(-25px, -8px) rotate(45deg);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -5px;
      opacity: 0;
      width: 0;
      transform: translateY(6px) rotate(-66deg);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 3px solid $black;
      transition: .3s transform linear;
      transform: rotate(-90deg) translateX(3px);
    }
  }
}

.button-circle {
  position: fixed;
  margin: 1.5em;
  background-color: $white;
  border-radius: 50%;
  border: none;
  box-shadow: $box-shadow-close;
  z-index: 3;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.panel {
  position: fixed;
  top: 0;
  left: -1px;
  transform: translateX(-100%);
  height: 100%;
  background-color: $white;
  box-shadow: $box-shadow-far;
  z-index: 2;
  padding-top: 6em;
  transition: $transition-fast cubic-bezier(0.63, 0.38, 0.24, 1);
  @include flexbox(column, flex-start, center);

  @include media-query('phone'){
    width: 100%;
    left: 0;
    transition: .5s;
    box-shadow: inherit;
  }

  &__logo {
    @include margin-box();
    max-width: 100%;
    height: 3em;
  }
}

.header {
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include flexbox(column);
  color: $white;

  &__main {
    font-size: 5em;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
    background: -webkit-linear-gradient(
      bottom left,
      $color-primary-light,
      #ffcd83
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include media-query('phone'){
      font-size: 3em;
      font-weight: normal;
    }
  }

  &__flex {
    @include flexbox(row, space-between, center, wrap);
    @include media-query('phone'){
      margin: 1rem 0;
      flex-direction: column;
    }
  }

  &__below {
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 0.5em;
    text-align: justify;
    margin: 0 -0.3em 0 5px;
    text-align: center;

    @include media-query('phone'){
      margin: 1rem 0;
      font-size: 2em;
    }
  }

  &__and{
    @include media-query('phone'){
      display: none;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 1em;
    opacity: 0.9;
    box-shadow: $box-shadow-close;
    cursor: pointer;
    transition: $transition-fast;
    font-size: 2rem;
    padding: 0.8rem;

    @include media-query('phone') {
      font-size: 3rem;
      bottom: 1em;
    }

    &:hover {
      opacity: 1;
      transform: translateY(5px);
    }
  }

  @include media-query('hd', '', min) {
    background-image: url(images/background-big.jpg);
  }
}

.footer {
  @include padding-box();
  background-color: $color-secondary-light;
  color: $white;
  text-align: center;
  @include padding-box('big');
}

.menu {
  margin-top: 1em;

  @include media-query('phone'){
    width: 100%;
  }

  &__button {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    @include padding-box('big');
    transition: $transition-fast;

    @include media-query('phone'){
      font-size: $font-size-huge;
      width: 100%;
    }

    &:hover {
      background-color: $color-primary-base;
      color: $white;
      box-shadow: $box-shadow-close;

      @include media-query('phone'){
        box-shadow: inherit;
      }
    }

    &.active {
      background-color: $color-primary-base;
      color: $white;
    }
  }

  &__icon {
    max-width: 100%;
    height: 1em;
    margin-right: 1em;
    width: 10px;

    @include media-query('phone'){
      margin-right: 2em;
    }
  }
}

// Sections
.section {
  margin-top: 3.5rem;
  font-size: $font-size-huge;

  @include media-query('phone') {
    font-size: $font-size-big;
  }

  &__container {
    max-width: 70%;
    padding-bottom: 3.5rem;
    border-bottom: 2px solid $grey;
    @include flexbox(column, center, center, wrap);
    @include margin-auto();
    @include media-query('phone') {
      max-width: 100%;
      padding: 0 10%;
    }
  }

  &__header {
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
  }

  &--intro {
    .section__header {
      border-top: 2px solid $grey;
      border-bottom: 2px solid $grey;
      position: relative;
      margin-bottom: 3rem;

      &--text {
        color: $color-primary-dark;
        line-height: 2em;
        text-shadow: grey;
        font-weight: inherit;
        letter-spacing: 0.2em;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        height: 2px;
        width: 15px;
        background: $grey;
        left: -12px;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        height: 2px;
        width: 15px;
        background: $grey;
        right: -12px;
        transform: rotate(-45deg);
      }

      .border_helper{
        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -7px;
          height: 2px;
          width: 15px;
          background: $grey;
          left: -12px;
          transform: rotate(-45deg);
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -7px;
          height: 2px;
          width: 15px;
          background: $grey;
          right: -12px;
          transform: rotate(45deg);
        }
      }
    }
  }

  &--rwd{
    .section__container{
      border: none;
    }
  }
}

.rwd{
  margin-top: 2rem auto;
  border: solid 4px $color-secondary-light;
  border-radius: $rounded-big;
  width: 64vw; //16:9 - 64vw
  height: 36vw; //16:9 -  36vw
  @include flexbox(column, space-around, center);
  background-color: #fff;
  @include margin-auto();

  &__sign{
    font-size: 1.5rem;
  }

  &__container{
    @include flexbox(row, center, center, wrap);
    width: 100%;
  }

  &__block{
    background-color: $color-secondary-light;
    margin: 1% 0;
    transition: $transition-fast;

    &--alone{
      width: 90%;
      height: 20%;

      &:first-child{
        height: 2vw;
      }

      &:last-child{
        height: 2vw;
      }
    }

    &--double{
      width: 40%;
      height: 5vw;
      margin: 1% 5%;
      background-color: $color-primary-base;
    }

    &--triple{
      width: 23.33%;
      height: 2vw;
      background-color: $color-primary-base;
      margin: 1% 5%;
    }
  }
}

#rwd {
  position: relative;
}

#rwd-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
}

.overlay-close-btn {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  border: none;
  color: #818181;
  outline: 0;
  color: #818181;
  font-size: 3rem;
  padding: 5px;
  cursor: pointer;
}

.rwd-overlay-content {
  display: none;
  text-align: center;
  color: #818181;
}

#overlay-content {
  @include flexbox(column, center, center, no-wrap);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about{
  &__image{
    width: 100%;
    margin: 2rem 0;
    box-shadow: $box-shadow-close;
  }
}

.services {
  background-color: $color-primary-dark;
  color: $white;
  padding: 1rem;

  &__container{
    width: 60%;
  }

  &__block {
    font-size: $font-size-base;
    text-align: center;
    transition: $transition-fast;
    @include flexbox(row, center, center, wrap)
  }

  &__li{
    padding: 1rem;
  }

  &__button{
    margin: 2rem 0;
  }

  &--title {
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  &--price {
    font-size: $font-size-huge;
    letter-spacing: 2px;
    font-weight: lighter;
    padding-bottom: 1rem;
  }
}

.tech {
  padding: 2rem;
  font-size: $font-size-huge;
  @include flexbox(row, space-between, center, wrap);

  @include media-query('phone') {
    @include flexbox(row, center, center, wrap);
  }

  &__container {
    max-width: 80%;
    border-bottom: inherit;
    @include media-query('phone') {
      max-width: 100%;
      padding: 0 10%;
    }
  }

  &__block {
    text-align: center;
    width: calc(25%);

    margin: 6rem 1rem;
    position: relative;

    &:hover p {
      transform: translateY(-50%) scale(1);
}

    &:hover i {
      opacity: 0;
    }

    @include media-query('phone') {
      min-width: 80%;
    }
  }

  &__icon {
    font-size: 8rem;
    transition: $transition-fast ease-in;

    &.fa-html5 {
      color: #e34c26;
    }

    &.fa-css3-alt {
      color: #1471b6;
    }

    &.fa-js {
      color: #f7df1e;
    }

    &.fa-sass {
      color: #c69;
    }

    &.fa-react {
      color: #00d8ff;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: $transition-fast ease-in-out;
    cursor: default;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    -webkit-transition: $transition-fast ease-in-out;
    -moz-transition: $transition-fast ease-in-out;
    -ms-transition: $transition-fast ease-in-out;
    -o-transition: $transition-fast ease-in-out;
}
}

.contact {
  padding: 3rem;
  text-align: center;
  margin-top: 2rem;
  font-size: $font-size-huge;
  background-image: url(images/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; // OPCJONALNE

  @include media-query('phone') {
    padding: 0;
  }

  &__container {
    max-width: 90%;
    @include flexbox(column, center, center, wrap);
    background-color: rgba(255, 255, 255, .75);
    box-shadow: $box-shadow-far;
    padding: 1rem;

    @include media-query('phone') {
      box-shadow: inherit;
    }
  }

  &__flex {
    @include flexbox(row, space-around);
    width: 100%;

    @include media-query('phone'){
      flex-direction: column;
    }
  }

  &__form{
    @include flexbox(column);
    width: 40%;

    @include media-query('phone'){
      width: 90%;
    }
  }

  &__input, &__textarea, &__button {
    margin: 10px 10px;
    padding: 10px;
    font-size: $font-size-small;
    width: 100%;
  }

  &__textarea{
    resize: vertical;
    height: 10rem;
  }

  &__alternative{
    width: 50%;
    font-size: $font-size-base;
    text-align: left;

    @include media-query('phone'){
      width: 90%;
      text-align: center;
      font-size: $font-size-big;
    }

    &--flex{
      @include flexbox(column, space-between, center, wrap);
    }
  }

  &__info{
    margin: 1rem 0;
    text-align: left;
    @include flexbox(row, center, center, wrap);
    @include media-query('phone'){
      width: 100%;
    }
  }

  &__icon{
    margin-right: 1rem;
  }
}

.social {
  width: 100%;
  padding: 2rem;
  @include flexbox(row, space-around, center, wrap);

  &__icon {
    font-size: 2rem;
    transition: $transition-fast;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);

    @include media-query('phone'){
      font-size: 4rem;
    }

    &.fa-facebook {
      color: #3b5998;
    }

    &.fa-instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover{
      transform: scale(1.1) translateZ(0);
    }
  }
}

.carousel-cell {
  width: 100%; /* full width */
}
