.menu-shower {
  position: fixed;
  left: -9999px;
  top: 0;

  &:checked ~ .panel {
    transform: translateX(0);
  }

  &:checked + .button-circle .hamburger {
    width: 26px;
    height: 20px;
    position: relative;
    transition: 0.3s transform linear;
    background-color: transparent;
    z-index: 9999;
    cursor: pointer;
    transform: scale(0.66) translate(-25px, -8px) rotate(45deg);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -5px;
      opacity: 0;
      width: 0;
      transform: translateY(6px) rotate(-66deg);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 3px solid $black;
      transition: 0.3s transform linear;
      transform: rotate(-90deg) translateX(3px);
    }
  }
}

.button-circle {
  position: fixed;
  margin: 1.5em;
  background-color: $white;
  border-radius: 50%;
  border: none;
  box-shadow: $box-shadow-close;
  z-index: 3;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.panel {
  position: fixed;
  top: 0;
  left: -1px;
  transform: translateX(-100%);
  height: 100%;
  background-color: $white;
  box-shadow: $box-shadow-far;
  z-index: 2;
  padding-top: 6em;
  transition: $transition-fast cubic-bezier(0.63, 0.38, 0.24, 1);
  @include flexbox(column, flex-start, center);

  @include media-query('phone'){
    width: 100%;
    left: 0;
    transition: .5s;
    box-shadow: inherit;
  }

  &__logo {
    @include margin-box();
    max-width: 100%;
    height: 3em;
  }
}

.header {
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include flexbox(column);
  color: $white;

  &__main {
    font-size: 5em;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
    background: -webkit-linear-gradient(
      bottom left,
      $color-primary-light,
      #ffcd83
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include media-query('phone'){
      font-size: 3em;
      font-weight: normal;
    }
  }

  &__flex {
    @include flexbox(row, space-between, center, wrap);
    @include media-query('phone'){
      margin: 1rem 0;
      flex-direction: column;
    }
  }

  &__below {
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 0.5em;
    text-align: justify;
    margin: 0 -0.3em 0 5px;
    text-align: center;

    @include media-query('phone'){
      margin: 1rem 0;
      font-size: 2em;
    }
  }

  &__and{
    @include media-query('phone'){
      display: none;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 2em;
    opacity: 0.9;
    box-shadow: $box-shadow-close;
    cursor: pointer;
    transition: $transition-fast;
    font-size: $font-size-big;

    @include media-query('phone') {
      font-size: 2rem;
      bottom: 1em;
    }

    &:hover {
      opacity: 1;
      transform: translateY(5px);
    }
  }

  @include media-query('hd', '', min) {
    background-image: url(images/background-big.jpg);
  }
}

.footer {
  @include padding-box();
  background-color: $color-secondary-light;
  color: $white;
  text-align: center;
}

.menu {
  margin-top: 1em;

  @include media-query('phone'){
    width: 100%;
  }

  &__button {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    @include padding-box('big');
    transition: $transition-fast;

    @include media-query('phone'){
      font-size: $font-size-huge;
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: $color-primary-base;
      color: $white;
      box-shadow: $box-shadow-close;

      @include media-query('phone'){
        box-shadow: inherit;
      }
    }

    &.active {
      background-color: $color-primary-base;
      color: $white;
    }
  }

  &__icon {
    max-width: 100%;
    height: 1em;
    margin-right: 1em;

    @include media-query('phone'){
      margin-right: 2em;
    }
  }
}

// Sections
.section {
  margin-top: 7rem;
  font-size: $font-size-huge;

  @include media-query('phone') {
    font-size: $font-size-base;
  }

  &__container {
    @include flexbox(column, center, center, nowrap);
    @include margin-box('huge');
    @include margin-auto();
    max-width: 70%;
    text-align: center;

    @include media-query('phone') {
      max-width: 80%;
    }
  }

  &__header {
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    line-height: 2;
    letter-spacing: 3px;
  }
}

.section--intro {
  .section__header {
    width: calc(50%);
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    position: relative;
    color: $color-primary-dark;
    line-height: 2em;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px 0px $yellow;

    @include media-query('phone') {
      width: calc(80%);
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      height: 2px;
      width: 15px;
      background: $grey;
      left: -12px;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      height: 2px;
      width: 15px;
      background: $grey;
      right: -12px;
      transform: rotate(-45deg);
    }

    .border_helper{
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -7px;
        height: 2px;
        width: 15px;
        background: $grey;
        left: -12px;
        transform: rotate(-45deg);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -7px;
        height: 2px;
        width: 15px;
        background: $grey;
        right: -12px;
        transform: rotate(45deg);
      }
    }
  }

}

.rwd{
  margin-top: 2rem auto;
  border: solid 4px $color-secondary-light;
  border-radius: $rounded-big;
  width: 64vw; //16:9 - 64vw
  height: 36vw; //16:9 -  36vw
  @include flexbox(column);
  display: none;

  &__sign{
    display: none;
  }

  &__container{
    @include flexbox(row, center, center, wrap);
    width: 100%;
  }

  &__block{
    background-color: $color-secondary-light;
    margin: 1% 0;
    transition: $transition-fast;

    &--alone{
      width: 90%;
      height: 12vw;

      &:first-child{
        height: 3vw;
      }

      &:last-child{
        height: 3vw;
      }
    }

    &--double{
      width: 40%;
      height: 7vw;
      margin: 1% 5%;
      background-color: $color-primary-base;
    }

    &--triple{
      width: 23.33%;
      height: 3vw;
      background-color: $color-primary-base;
      margin: 1% 5%;
    }
  }
}

.about{
  &__image{
    width: 100%;
    margin: 2rem 0;
    box-shadow: $box-shadow-close;
  }
}

.services {
  &__flex {
    padding-top: 2rem;
    @include flexbox(row, space-around, center, wrap);
  }

  &__block {
    font-size: $font-size-base;
    background-color: $grey;
    width: 15rem;
    margin: 1rem;
    min-width: 175px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    box-shadow: $box-shadow-close;
    transition: $transition-fast;
    position: relative;

    &:hover {
      box-shadow: $box-shadow-far;

      .services--title::after {
        text-shadow: $box-shadow-far !important;
      }
    }

    &:nth-child(2) .services--title {
      background-color: #bbbbbb;

      &::after {
        content: '\f005';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        font-family: 'Font Awesome 5 Free';
        color: #8f4922;
        font-size: 2rem;
        text-shadow: $box-shadow-close;
        transition: $transition-fast;
      }
    }

    &:nth-child(3) .services--title {
      background-color: #aaaaaa;

      &::after {
        content: '\f005';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        font-family: 'Font Awesome 5 Free';
        color: grey;
        font-size: 2rem;
        text-shadow: $box-shadow-close;
        transition: $transition-fast;
      }
    }

    &:nth-child(4) .services--title {
      background-color: #999999;

      &::after {
        content: '\f005';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        font-family: 'Font Awesome 5 Free';
        color: gold;
        font-size: 2rem;
        text-shadow: $box-shadow-close;
        transition: $transition-fast;
      }
    }
  }

  &__li {
    padding: 1rem 1rem;
  }

  &--title {
    font-weight: lighter;
    font-size: $font-size-biggest;
    letter-spacing: 2px;
    padding-top: 1rem;
  }

  &--price {
    font-size: $font-size-huge;
    letter-spacing: 2px;
    font-weight: lighter;
    padding-bottom: 1rem;
  }
}

.tech {
  padding: 2rem;
  font-size: $font-size-huge;
  @include flexbox(row, space-between, center, wrap);

  @include media-query('phone') {
    @include flexbox(row, center, center, wrap);
  }

  &__block {
    width: calc(25%);

    margin: 5rem 1rem;
    position: relative;

    &:hover p {
      transform: translateY(-50%) scale(1);
    }

    &:hover i {
      opacity: 0;
    }

    @include media-query('phone') {
      min-width: 80%;
    }
  }

  &__icon {
    font-size: 8rem;
    transition: $transition-fast ease-in;

    &.fa-html5 {
      color: #e34c26;
    }

    &.fa-css3-alt {
      color: #1471b6;
    }

    &.fa-js {
      color: #f7df1e;
    }

    &.fa-sass {
      color: #c69;
    }

    &.fa-react {
      color: #00d8ff;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: $transition-fast ease-in-out;
    cursor: default;
  }
}

.contact {
  padding: 3rem;
  margin-top: 2rem;
  font-size: $font-size-huge;
  background-image: url(images/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; // OPCJONALNE

  @include media-query('phone') {
    padding: 3rem 0;
  }

  &__container {
    @include flexbox(column, center, center, wrap);
    background-color: rgba(255, 255, 255, .75);
    box-shadow: $box-shadow-far;
    padding: 1rem;
  }

  &__email {
    color: #fff;
    @include padding-box('small');
    @include margin-box('small');
    background-color: $color-primary-base;
    border-radius: $rounded-small;
  }
}

.social {
  width: 100%;
  padding: 2rem;
  @include flexbox(row, space-around, center, wrap);

  &__icon {
    font-size: 7rem;

    &.fa-facebook {
      color: #3b5998;
    }

    &.fa-instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}
