.button{
  border: none;
  padding: 6px 20px;
  background: $color-primary-base;
  color: #fefefe;
  font-family: Roboto;
  font-weight: 600;
  border-radius: $rounded-small;
  transition: $transition-fast;
  cursor: pointer;

  &:hover{
    background: $color-primary-dark;
  }

  &.big{
    padding: 10px 25px;
    font-size: 1.2em;
  }

  &.inverted{
    background: $white;
    color: $color-primary-base;

    &:hover{
      background: $color-primary-base;
      color: $white;
    }
  }

  &.soft{
    background: transparent;
    border: solid 2px $white;

    &:hover{
      background: transparent;
    }
  }
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-secondary-light;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  text-align: center;
  overflow: hidden;

  &::after{
    content: '';
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 60px);
    z-index: 9999;
    width: 50px;
    height: 50px;
    border: 10px solid $white;
    border-top: 10px solid $blue;
    border-radius: 50%;
    animation: spin 1.5s cubic-bezier(0.3,1,0.5,0.3) infinite;
  }
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  20% { border-top: 10px solid $blue; }
  60% { border-top: 10px solid $green; }
  100% { transform: rotate(360deg); }
}

.hamburger{
  width: 26px;
  height: 20px;
  border: none;
  border-top: 3px solid $black;
  transition: 0.3s transform linear;
  background-color: transparent;
  position: relative;
  @include center();
  transform: scale(.66) translate(-75%, -75%);

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid $black;
    transform: translateY(6px);
    transition: $transition-normal;
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid $black;
    transform: translateY(15px);
    transition: 0.3s transform linear;
  }

  &:hover{
    background-color: transparent;
    border-top: 3px solid $black;
  }

  @include media-query('phone'){
    display: block;
  }
}
